$white: #F4F6E8
$black: #080B44
$dark-grey: #202124
$font: 'Didact Gothic',‘Hiragino Sans GB ’
$body-size: 15px
$body-text: $white

$links: darken($white, 10%)
$links-hover: $white

$code-block: #171D20
